# build directories
build_output*
# text editor backups
*~
phoneme_mr4_qtopia.WK3
phoneme_mr4_qtopia.SearchResults
phoneme_mr4_qtopia.PS
phoneme_mr4_qtopia.PRI
phoneme_mr4_qtopia.PR
phoneme_mr4_qtopia.PO
phoneme_mr4_qtopia.PFI
phoneme_mr4_qtopia.IMD
phoneme_mr4_qtopia.IMB
phoneme_mr4_qtopia.IAD
phoneme_mr4_qtopia.IAB
